
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483502772594'); /* IE9*/
  src: url('iconfont.eot?t=1483502772594#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483502772594') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483502772594') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483502772594#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren01:before { content: "\e602"; }

.icon-libaoc:before { content: "\e66e"; }

.icon-youxi:before { content: "\e65e"; }

.icon-sqg:before { content: "\e61e"; }

